
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<!-- <property name="show_sql">false</property> -->
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/JobComing?useUnicode=true&amp;characterEncoding=UTF-8</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>		
		<!-- <property name="show_sql">true</property>
		<property name="format_sql">true</property> -->
		<property name="hbm2ddl.auto">update</property>	
		<property name="javax.persistence.validation.mode">none</property>	
		
		<mapping resource="com/job/bean/User.hbm.xml"/>
		<mapping resource="com/job/bean/RelationShip.hbm.xml"/>
		<mapping resource="com/job/bean/JobPublish.hbm.xml"/>
		<mapping resource="com/job/bean/JobKind.hbm.xml"/>
		<mapping resource="com/job/bean/Evaluate.hbm.xml"/>
		<mapping resource="com/job/bean/ChatRecoed.hbm.xml"/>
		<mapping resource="com/job/bean/AgreeMent.hbm.xml"/>
		<mapping resource="com/job/bean/AddressProvince.hbm.xml"/>
		<mapping resource="com/job/bean/AddressTown.hbm.xml"/>
		<mapping resource="com/job/bean/AddressCity.hbm.xml"/>
	</session-factory>
</hibernate-configuration>